@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #FFFFFF;
}

#firebox {
    display: grid;
    border: 5px solid;
    width: 400px;
    padding-right: 0px;
    padding-left: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #7CFC00;
    justify-items: stretch;
    grid-auto-rows: 200px;
    grid-auto-flow: row;
}

#topstrip {
    grid-area: 1 / 1 / 2 / 2;
    font-family: Roboto;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    background-image: url("images/stark4.jpg");
    padding-top: 10px;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    padding-top: 20px;
}

#search {
    border: 0px solid;
    position: static;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #FFFFFF;
    width: 220px;
    height: 25px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    color: rgb(139, 136, 136);
}

#invisible {
    border: 0px solid;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 193px;
    left: 25px;
    background-color: rgb(252, 59, 0);
}

#header {
    grid-area: 2 / 1 / 3 / 2;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    background-size: contain;
    padding-top: 30px;
    justify-content: space-around;
    align-content: space-around;
    z-index: 1;
}

#header .link {
    color: #FFFFFF;
}

#menu {
    /*grid-area: 3 / 1 / 4 / 2;*/
    font-family: Roboto;
    font-size: 30px;
    color: #FFFFFF;
    background-image: url("images/stark.jpg");
    background-size: cover;
    justify-content: center;
    align-content: start;
}

#banner {
    grid-area: 4 / 1 / 5 / 2;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 252, 34);
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}